.footer_top
  .footer_top--content
    %ul.footer_top--content--left
      %li.footer_top--content--left--title
        = image_tag "https://img.muji.net/img/common/logo-muji.svg", class: "footer_MUJI-logo"
      %ul.footer_top--content--left--sns-icon
        %li.footer_top--content--left--sns-icon--Twitter
          =link_to "#",class: "footer_top--content--left--sns-icon--Twitter--link" do
            = image_tag "https://img.muji.net/img/common/twitter-with-circle.svg", class: "footer_top--content--left--sns-icon--Twitter--img"
        %li.footer_top--content--left--sns-icon--Facebook
          =link_to "#",class: "footer_top--content--left--sns-icon--Facebook--link" do
            = image_tag "https://img.muji.net/img/common/facebook-with-circle.svg", class: "footer_top--content--left--sns-icon--Facebook--img"
        %li.footer_top--content--left--sns-icon--Youtube
          =link_to "#",class: "footer_top--content--left--sns-icon--Youtube--link" do
            = image_tag "https://img.muji.net/img/common/youtube-with-circle.svg", class: "footer_top--content--left--sns-icon--Youtube--img"
        %li.footer_top--content--left--sns-icon--Instagram
          =link_to "#",class: "footer_top--content--left--sns-icon--Instagram--link" do
            = image_tag "https://img.muji.net/img/common/instagram-with-circle.svg", class: "footer_top--content--left--sns-icon--Instagram--img"
    %ul.footer_top--content--center-left
      %li.footer_top--content--center-left--about-store
        = link_to "店舗情報","#",class: "footer_top--content--center-left--about-store--link"
      %li.footer_top--content--center-left--event
        = link_to "イベント","#",class: "footer_top--content--center-left--event--link"
      %li.footer_top--content--center-left--living-lab
        = link_to "くらしの良品研究所","#",class: "footer_top--content--center-left--living-lab--link"
      %li.footer_top--content--center-left--MUJI-SUPPORT
        = link_to "MUJISUPPORT","#",class: "footer_top--content--center-left--MUJI-SUPPORT--link"
      %li.footer_top--content--center-left--MUJI-HOUSE-VISION
        = link_to "MUJIHOUSEVISION","#",class: "footer_top--content--center-left--MUJI-HOUSE-VISION--link"
      %li.footer_top--content--center-left--inquiry
        = link_to "問い合わせ","#",class: "footer_top--content--center-left--inquiry--link"
    %ul.footer_top--content--center
      %li.footer_top--content--center--MUJI-HOUSE
        = link_to "無印良品の家","#",class: "footer_top--content--center--MUJI-HOUSE--link"
      %li.footer_top--content--center--cafemeal-MUJI
        = link_to "Café&Meal MUJI","#",class: "footer_top--content--center--cafemeal-MUJI--link"
      %li.footer_top--content--center--Found-MUJI
        = link_to "Found MUJI","#",class: "footer_top--content--center--Found-MUJI--link"
      %li.footer_top--content--center--camp
        = link_to "キャンプ場","#",class: "footer_top--content--center--camp--link"
      %li.footer_top--content--center--MUJI-BOOKS
        = link_to "MUJI BOOKS","#",class: "footer_top--content--center--MUJI-BOOKS--link"
      %li.footer_top--content--center--MUJI-HOTEL
        = link_to "MUJI HOTEL","#",class: "footer_top--content--center--MUJI-HOTEL--link"
    %ul.footer_top--content--center-right
      %li.footer_top--content--center-right--MUJI-passport
        = link_to "MUJI passport","#",class: "footer_top--content--center-right--MUJI-passport--link"
      %li.footer_top--content--center-right--catalog
        = link_to "カタログ","#",class: "footer_top--content--center-right--catalog--link"
      %li.footer_top--content--center-right--MUJI-card
        = link_to "MUJI card","#",class: "footer_top--content--center-right--MUJI-card--link"
      %li.footer_top--content--center-right--MUJI-GIFT-CARD
        = link_to "MUJI GIFT CARD","#",class: "footer_top--content--center-right--MUJI-GIFT-CARD--link"
      %li.footer_top--content--center-right--for-company
        = link_to "法人のお客様へ","#",class: "footer_top--content--center-right--for-company--link"
      %li.footer_top--content--center-right--Tax-free
        = link_to "Tax-free Service","#",class: "footer_top--content--center-right--Tax-free--link"
    %ul.footer_top--content--right
      %li.footer_top--content--right--new-release
        = link_to "ニューリリース","#",class: "footer_top--content--right--new-release--link"
      %li.footer_top--content--right--careers
        = link_to "採用情報","#",class: "footer_top--content--right--careers--link"
      %li.footer_top--content--right--MUJI-messages
        = link_to "無印良品メッセージ","#",class: "footer_top--content--right--MUJI-messages--link"
      %li.footer_top--content--right--about-MUJI
        = link_to "無印良品について","#",class: "footer_top--content--right--about-MUJI--link"
      %li.footer_top--content--right--company-details
        = link_to "株式会社 良品計画","#",class: "footer_top--content--right--company-details--link"
  .footer_top--nav
    %ul.footer_top--nav--left
      %li.footer_top--nav--left--country
        =link_to "#", class: "footer_top--nav--left--country--link" do
          = image_tag "//www.muji.com/jp/img/flag_jp.png", class: "footer_top--nav--left--country--img"
          %span.footer_top--nav--left--country--text 日本
      %li.footer_top--nav--left--about-security
        =link_to "個人情報の取り扱い", "#", class: "footer_top--nav--left--about-security--link"
      %li.footer_top--nav--left--site-map
        =link_to "サイトマップ", "#", class: "footer_top--nav--left--site-map--link"
    .footer_top--nav--right Copyright ©Ryohin Keikaku Co., Ltd

