= render "shared/header"
.product-top
  = render "shared/side"
  .product-top--page
    .product-top--page--content
      = link_to "#", class: "top-page-img-main-link" do
        = image_tag "https://www.muji.com/jp/img/panel/main/C18030901_pc_190215.jpg", class: "top-page-img-main-opbject"
    .product-top--page--middle
      .product-top--page--middle--header
        .product-top--page--middle--header--title
          %h1.product-top--page--middle--header--title--text 特集
          .product-top--page--middle--header--title--list
            = link_to "すべての特集","#", class: "product-top--page--middle--header--title--list--text"
      %ul.product-top--page--middle--content
        %li.product-top--page--middle--content--up-left
          %article.middle--content--up-left
            =link_to "#", class: "content--up-left--link" do
              =image_tag "//www.muji.com/jp/img/store/panel/weeklymuji_640_190222.jpg", class: "content--up-left--img"
        %li.product-top--page--middle--content--up-center-left
          %article.middle--content--up-center-left
            =link_to "#", class: "content--up-center-left--link" do
              =image_tag "//www.muji.com/jp/img/store/panel/storage_640.jpg", class: "content--up-center-left--img"
        %li.product-top--page--middle--content--up-center-right
          %article.middle--content--up-center-right
            =link_to "#", class: "content--up-center-right--link" do
              =image_tag "//www.muji.com/jp/img/store/panel/deliveryfree_640_190215.png", class: "content--up-center-right--img"
        %li.product-top--page--middle--content--up-right
          %article.middle--content--up-right
            =link_to "#", class: "content--up-right--link" do
              =image_tag "https://www.muji.com/jp/img/store/panel/181003_ginza_640.png", class: "content--up-right--img"
        %li.product-top--page--middle--content--down-left
          %article.middle--content--down-left
            =link_to "#", class: "content--down-left--link" do
              =image_tag "//www.muji.com/jp/img/store/panel/price-review_640_190215.jpg", class: "content--down-left--img"
        %li.product-top--page--middle--content--down-center-left
          %article.middle--content--down-center-left
            =link_to "#", class: "content--down-center-left--link" do
              =image_tag "//www.muji.com/jp/img/panel/interior_640_190215.png", class: "content--down-center-left--img"
        %li.product-top--page--middle--content--down-center-right
          %article.middle--content--down-center-right
            =link_to "#", class: "content--down-center-right--link" do
              =image_tag "//www.muji.com/jp/img/store/panel/curry_18ss_640.png", class: "content--down-center-right--img"
        %li.product-top--page--middle--content--down-right
          %article.middle--content--down-right
            =link_to "#", class: "content--down-right--link" do
              =image_tag "//www.muji.com/jp/img/store/panel/19ss_clothes_640.jpg", class: "content--down-right--img"
      .product-top--page--middle--new-products
        .product-top--page--middle--new-products--title
          %h1.product-top--page--middle--new-products--title--text 新商品
          .product-top--page--middle--new-products--title--list
            = link_to "すべての新商品","#", class: "product-top--page--middle--new-products--title--list--link"
        .product-top--page--middle--new-products--content
          %ul.product-top--page--middle--new-products--content--list
            %li.product-top--page--middle--new-products--content--list--left
              %h2.product-top--page--middle--new-products--content--list--left--title 衣料品 新商品一覧
              = link_to "#", class: "product-top--page--middle--new-products--left-content--link" do
                = image_tag "https://www.muji.com/jp/img/store/panel/S10901_640_190222.jpg", class: "product-top--page--middle--new-products--left-content--img"
            %li.product-top--page--middle--new-products--content--list--center
              %h2.product-top--page--middle--new-products--content--list--center--title 生活雑貨 新商品一覧
              = link_to living_index_path, class: "product-top--page--middle--new-products--center-content--link" do
                = image_tag "https://www.muji.com/jp/img/store/panel/S10908_640_190222.jpg", class: "product-top--page--middle--new-products--center-content--img"
            %li.product-top--page--middle--new-products--content--list--right
              %h2.product-top--page--middle--new-products--content--list--right--title 食品 新商品一覧
              = link_to "#", class: "product-top--page--middle--new-products--right-content--link" do
                = image_tag "https://www.muji.com/jp/img/store/panel/S10905_640_190215.jpg", class: "product-top--page--middle--new-products--right-content--img"
      .product-top--page--middle--limited-price-products
        .product-top--page--middle--limited-price-products--title
          %h1.product-top--page--middle--limited-price-products--title--text 期間限定価格
          .product-top--page--middle--limited-price-products--title--list
            = link_to "すべての期間限定価格","#", class: "product-top--page--middle--limited-price-products--title--list--link"
        .product-top--page--middle--limited-price-products--content
          %ul.product-top--page--middle--limited-price-products--content--list
            %li.product-top--page--middle--limited-price-products--content--list--left
              %h2.product-top--page--middle--limited-price-products--content--list--left--title 衣料品 期間限定価格商品一覧
              = link_to "#", class: "product-top--page--middle--limited-price-products--left-content--link" do
                = image_tag "https://www.muji.com/jp/img/store/panel/S000051069_640.jpg", class: "product-top--page--middle--limited-price-products--left-content--img"
              .product-top--page--middle--limited-price-products--content--list--left--details 婦人インド綿二重ガーゼシャツ/ダブルファイスクルーネックセーターほか　消費税込4,990円の品→消費税込3,990円　など
            %li.product-top--page--middle--limited-price-products--content--list--center
              %h2.product-top--page--middle--limited-price-products--content--list--center--title 生活雑貨 期間限定価格商品一覧
              = link_to living_index_path, class: "product-top--page--middle--limited-price-products--center-content--link" do
                = image_tag "https://www.muji.com/jp/img/store/panel/S000055035_640.jpg", class: "product-top--page--middle--limited-price-products--center-content--img"
              .product-top--page--middle--limited-price-products--content--list--center--details バルブ付き密閉ホーロー保存容器　消費税込1,290円の品→消費税込790円　など
            %li.product-top--page--middle--limited-price-products--content--list--right
              %h2.product-top--page--middle--limited-price-products--content--list--right--title 食品 期間限定価格商品一覧
              = link_to "#", class: "product-top--page--middle--limited-price-products--right-content--link" do
                = image_tag "https://www.muji.com/jp/img/store/panel/s000056017_640.jpg", class: "product-top--page--middle--limited-price-products--right-content--img"
              .product-top--page--middle--limited-price-products--content--list--right--details 食べるスープ2点以上のお買い上げで10%OFF　など
    .product-top--page--advertising
      .product-top--page--advertising--useful
        = link_to "#", class: "product-top--page--advertising--useful--link" do
          %h2.product-top--page--advertising--useful--title 毎日使うものを便利に。
          .product-top--page--advertising--useful--img-box
            %ul.product-top--page--advertising--useful--img-box--list
              %li.product-top--page--advertising--useful--img-box--list--end-left
                = image_tag "//www.muji.com/jp/img/store/top/basicitems_01.jpg", class: "advertising--useful--end-left"
              %li.product-top--page--advertising--useful--img-box--list--left
                = image_tag "//www.muji.com/jp/img/store/top/basicitems_02.jpg", class: "advertising--useful--left"
              %li.product-top--page--advertising--useful--img-box--list--center-left
                = image_tag "//www.muji.com/jp/img/store/top/basicitems_03.jpg", class: "advertising--useful--center-left"
              %li.product-top--page--advertising--useful--img-box--list--center
                = image_tag "//www.muji.com/jp/img/store/top/basicitems_04.jpg", class: "advertising--useful--center"
              %li.product-top--page--advertising--useful--img-box--list--center-right
                = image_tag "//www.muji.com/jp/img/store/top/basicitems_05aw.jpg", class: "advertising--useful--center-right"
              %li.product-top--page--advertising--useful--img-box--list--right
                = image_tag "//www.muji.com/jp/img/store/top/basicitems_06.jpg", class: "advertising--useful--right"
              %li.product-top--page--advertising--useful--img-box--list--end-right
                = image_tag "//www.muji.com/jp/img/store/top/basicitems_07.jpg", class: "advertising--useful--end-right"
          %span.product-top--page--advertising--useful--text-delivery-free ネットストア限定 対象商品配送料無料
    .product-top--page--net-store-service
      =link_to "#", class: "product-top--page--net-store-service--link" do
        %h2.product-top--page--net-store-service-title ネットストアの便利なサービス
        %ul.product-top--page--net-store-service--img-list
          %li.product-top--page--net-store-service--img-list--end-left
            %figure.product-top--page--net-store-service--img-list--end-left--img
              = image_tag "//www.muji.com/jp/store/service/img/service_deliveryvan.png", class: "product-top--page--net-store-service--img-list--end-left--img--object"
            %h3.product-top--page--net-store-service--img-list--end-left--text
              %span.product-top--page--net-store-service--img-list--end-left--text--up 一定額以上の
              %span.product-top--page--net-store-service--img-list--end-left--text--middle お買い上げで
              %span.product-top--page--net-store-service--img-list--end-left--text--down 配送料無料
            .product-top--page--net-store-service--img-list--end-left--description 小物商品は税込5,000円以上、大型家電は税込30,000円以上で配送料無料
          %li.product-top--page--net-store-service--img-list--left
            %figure.product-top--page--net-store-service--img-list--left--img
              = image_tag "//www.muji.com/jp/store/service/img/service_storage.png", class: "product-top--page--net-store-service--img-list--left--img--object"
            %h3.product-top--page--net-store-service--img-list--left--text
              %span.product-top--page--net-store-service--img-list--left--text--up ポリプロピレン
              %span.product-top--page--net-store-service--img-list--left--text--middle 衣装ケースなど
              %span.product-top--page--net-store-service--img-list--left--text--down 配送料無料
            .product-top--page--net-store-service--img-list--left--description 対象商品が配送料無料になりました
          %li.product-top--page--net-store-service--img-list--center-left
            %figure.product-top--page--net-store-service--img-list--center-left--img
              = image_tag "//www.muji.com/jp/store/service/img/service_deliveryvan.png", class: "product-top--page--net-store-service--img-list--center-left--img--object"
            %h3.product-top--page--net-store-service--img-list--center-left--text
              %span.product-top--page--net-store-service--img-list--center-left--text--up 小物商品の
              %span.product-top--page--net-store-service--img-list--center-left--text--down 配送料490円
            .product-top--page--net-store-service--img-list--center-left--description 対象商品が増えました。いくつ買っても配送料490円です
          %li.product-top--page--net-store-service--img-list--center-right
            %figure.product-top--page--net-store-service--img-list--center-right--img
              = image_tag "//www.muji.com/jp/store/service/img/service_box.png", class: "product-top--page--net-store-service--img-list--center-right--img--object"
            %h3.product-top--page--net-store-service--img-list--center-right--text
              %span.product-top--page--net-store-service--img-list--center-right--text--up 選べる
              %span.product-top--page--net-store-service--img-list--center-right--text--down 受取方法
            .product-top--page--net-store-service--img-list--center-right--description ご自宅への配送以外にも、店頭受取や、コンビニ受取をご利用いただけます
          %li.product-top--page--net-store-service--img-list--right
            %figure.product-top--page--net-store-service--img-list--right--img
              = image_tag "//www.muji.com/jp/store/service/img/service_shirt_s.png", class: "product-top--page--net-store-service--img-list--right--img--object"
            %h3.product-top--page--net-store-service--img-list--right--text
              %span.product-top--page--net-store-service--img-list--right--text--up XS・XXL
              %span.product-top--page--net-store-service--img-list--right--text--down サイズ
            .product-top--page--net-store-service--img-list--right--description 店舗からのお取り寄せや、店舗受取も可能です
          %li.product-top--page--net-store-service--img-list--end-right
            %figure.product-top--page--net-store-service--img-list--end-right--img
              = image_tag "//www.muji.com/jp/store/service/img/service_hanger_s.png", class: "product-top--page--net-store-service--img-list--end-right--img--object"
            %h3.product-top--page--net-store-service--img-list--end-right--text
              %span.product-top--page--net-store-service--img-list--end-right--text--up まとめ買い
            .product-top--page--net-store-service--img-list--end-right--description ケースでお届けするから5%お得
    .product-top--page--products-list
      .product-top--page--products-list--title
        %h1.product-top--page--products-list--title--text 商品
      .product-top--page--products-list--content
        %h2.product-top--page--products-list--content--cloth-title 衣料品
        %ul.product-top--page--products-list--content--cloth-category
          %li.product-top--page--products-list--content--cloth-category--ladies-wear
            =link_to "#",class: "product-top--page--products-list--content--cloth-category--ladies-wear--link" do
              =image_tag "//img.muji.net/img/item/4550182042177_01_95.jpg", class: "product-top--page--products-list--content--cloth-category--ladies-wear--img"
              %span.product-top--page--products-list--content--cloth-category--ladies-wear 婦人ウェア
          %li.product-top--page--products-list--content--cloth-category--ladies-inner
            =link_to "#",class: "product-top--page--products-list--content--cloth-category--ladies-inner--link" do
              =image_tag "//img.muji.net/img/item/4549738248897_01_95.jpg", class: "product-top--page--products-list--content--cloth-category--ladies-inner--img"
              %span.product-top--page--products-list--content--cloth-category--ladies-inner 婦人インナーウェア
          %li.product-top--page--products-list--content--cloth-category--mens-wear
            =link_to "#",class: "product-top--page--products-list--content--cloth-category--mens-wear--link" do
              =image_tag "//img.muji.net/img/item/4550182062229_01_95.jpg", class: "product-top--page--products-list--content--cloth-category--mens-wear--img"
              %span.product-top--page--products-list--content--cloth-category--mens-wear 紳士ウェア
          %li.product-top--page--products-list--content--cloth-category--mens-inner
            =link_to "#",class: "product-top--page--products-list--content--cloth-category--mens-inner--link" do
              =image_tag "//img.muji.net/img/item/4550002370107_95.jpg", class: "product-top--page--products-list--content--cloth-category--mens-inner--img"
              %span.product-top--page--products-list--content--cloth-category--mens-inner 紳士インナーウェア
          %li.product-top--page--products-list--content--cloth-category--socks
            =link_to "#",class: "product-top--page--products-list--content--cloth-category--socks--link" do
              =image_tag "//img.muji.net/img/item/4550182030112_95.jpg", class: "product-top--page--products-list--content--cloth-category--socks--img"
              %span.product-top--page--products-list--content--cloth-category--socks 靴下
          %li.product-top--page--products-list--content--cloth-category--shoes
            =link_to "#",class: "product-top--page--products-list--content--cloth-category--shoes--link" do
              =image_tag "//img.muji.net/img/item/4550002572907_95.jpg", class: "product-top--page--products-list--content--cloth-category--shoes--img"
              %span.product-top--page--products-list--content--cloth-category--shoes 靴
          %li.product-top--page--products-list--content--cloth-category--bags
            =link_to "#",class: "product-top--page--products-list--content--cloth-category--bags--link" do
              =image_tag "//img.muji.net/img/item/4549738872740_95.jpg", class: "product-top--page--products-list--content--cloth-category--bags--img"
              %span.product-top--page--products-list--content--cloth-category--bags バッグ
          %li.product-top--page--products-list--content--cloth-category--fashion-accessories
            =link_to "#",class: "product-top--page--products-list--content--cloth-category--fashion-accessories--link" do
              =image_tag "//img.muji.net/img/item/4550002887285_01_95.jpg", class: "product-top--page--products-list--content--cloth-category--fashion-accessories--img"
              %span.product-top--page--products-list--content--cloth-category--fashion-accessories 服飾雑貨
          %li.product-top--page--products-list--content--cloth-category--MUJI-Labo
            =link_to "#",class: "product-top--page--products-list--content--cloth-category--MUJI-Labo--link" do
              =image_tag "//img.muji.net/img/item/4550182081701_01_95.jpg", class: "product-top--page--products-list--content--cloth-category--MUJI-Labo--img"
              %span.product-top--page--products-list--content--cloth-category--MUJI-Labo MUJI Labo
    = render "shared/notice"
    = render "shared/footer"
